<template name="profile">
    {{#if currentUser}}
    <!-- Profile -->
    <div id="profile-wrap">
        <center>
            {{#with UserImages}}
            <img src="{{image}}" class="profile-img">
            {{else}}
            <img src="github.svg" class="profile-img">
            <form class="edit-profile" enctype="multipart/form-data">
                <label for="profileImage">Choose Profile Image</label>
                <span id="filename"></span>
                <input type="file" name="profileImage" id="profileImage" class="black profileImage">
                <br>
                <button type="submit" value="Upload Photo" id="profile-btn" class="btn btn-sml btn-primary">Upload Photo</button>
            </form>
            {{/with}}
            
            <h1 class="username">{{username}}</h1>
            <h3>{{email}}</h3>
                <div class="" id="">
                    <img src="laugh.png" class="profile-smiley" id="laugh">
                    <img src="frown.png" class="profile-smiley" id="frown">
                    <img src="puke.png" class="profile-smiley" id="puke">
                </div>
                <div class="score" id="">
                    <h3 class="count red block">{{userLaughScore}}</h3>
                    <h3 class="count yellow block">{{userFrownScore}}</h3>
                    <h3 class="count green block">{{userPukeScore}}</h3>
                </div>
        </center>
    </div>
    <!-- End Profile -->
    <div class="row">
        {{#each userJokes}}
        <!--Joke-->
            <div class="col-sm-6">
                <div class="joke">
                    <div class="row">
                        <div class=".col-sm-6 .col-md-5 .col-lg-5" id="info">
                            <h1 class="joke-title">{{jokeName}}</h1>
                            <p class="meta">Author: {{author}}</p>
                            <p class="meta">Posten On: {{date}}</p>
                        </div>
                        <div class=".col-sm-6 .col-md-5 .col-md-offset-2 .col-lg-6 .col-lg-offset-0" id="vote">
                            <img src="laugh.png" class="smiley" id="laugh">
                            <img src="frown.png" class="smiley" id="frown">
                            <img src="puke.png" class="smiley" id="puke">
                        </div>
                        <div class="row" id="score">
                            <h3 class="count red block">{{laughScore}}</h3>
                            <h3 class="count yellow block">{{frownScore}}</h3>
                            <h3 class="count green block">{{pukeScore}}</h3>
                        </div>
                    </div>
                    <p class="regular joke-desc">{{jokePost}}</p>
                    <button class="ladda-button btn btn-smt btn-danger" data-style="expand-right" id="delete-joke"><span class="ladda-label">Delete Joke</span></button>
                </div>
            </div>
        <!--End Joke-->
        {{else}}
        <h1 style="text-align: center;">no Jokes to display</h1>
        {{/each}}
    </div>

    {{/if}}
</template>