<template name="jokes">
    <!--Joke-->

    {{> jokeForm}}
    <div class="row ">
            {{#each jokes}}
            <div class="col-sm-6">
                <div class="joke">
                    <div class="row">
                        <div class=".col-sm-6 .col-md-5 .col-lg-5" id="info">
                            <h1 class="joke-title">{{jokeName}}</h1>
                            <p class="meta">Author: {{author}}</p>
                            <p class="meta">Posted On: {{date}}</p>
                        </div>
                        <div class=".col-sm-6 .col-md-5 .col-md-offset-2 .col-lg-6 .col-lg-offset-0" id="vote">
                            <img src="img/laugh.png" class="smiley" id="laugh">
                            <img src="img/frown.png" class="smiley" id="frown">
                            <img src="img/puke.png" class="smiley" id="puke">
                        </div>
                        <div class="row" id="score">
                            <h3 class="count red block">{{laughScore}}</h3>
                            <h3 class="count yellow block">{{frownScore}}</h3>
                            <h3 class="count green block">{{pukeScore}}</h3>
                        </div>
                    </div>
                    <p class="regular joke-desc">{{jokePost}}</p>
                </div>
                <!--End Joke-->
            </div> 
                {{else}}
                    <h1 style="text-align: center;">No Jokes To Display</h1>
                {{/each}}   
    </div>
</template>