<template name="jokeForm">
    {{#if currentUser}}
    <!-- joke Form -->
    <div id="jokeForm-wrap">
        <!-- <center> -->
            <!-- <form class="joke-post"> -->
                <h2 class="jokeForm-heading" style="text-align: center;">Post a Joke</h2>
                {{#autoForm schema=jokeSchema id='jokeForm'}}
                    {{> afQuickField name='name'}}
                    {{> afQuickField name='post'}}
                {{/autoForm}}
                <button class="btn btn-lg btn-success btn-block ladda-button" id="postButton" type="submit" data-style="slide-right"><span class="ladda-label">Post Joke</span></button>
            <!-- </form> -->
        <!-- </center> -->
    </div>
    <!-- End Joke -->
    {{else}}
    <!-- Joke Form-->
    <div id="jokeForm-wrap">
            <form class="joke-post">
                <h2 class="form-signin-heading">Log In To post A Joke</h2>
                <a href="/login" class="btn btn-md btn-primary" id="login-redir">Login</a>
            </form>
    </div>
    <!-- End Joke -->
    {{/if}}
</template>