<template name="signup">
    {{#if currentUser}}
        <h3 class="white">You are logged in. return <a href="/">home</a></h3>
    {{else}}
    <div class="form-signup" id="register-form">
        <h2 class="form-signin-heading">Create Account</h2>
        {{> quickForm schema=signupSchema id='signupForm' buttonContent=false}}
        <button type="submit" id="signButton" class="ladda-button btn btn-lg btn-primary btn-block my-button" data-style="slide-left"><span class="ladda-label">Log In</span></button>
        <br>
    </div>
        <p>Welcome To Us</p>
    {{/if}}
</template>